@import url('./__content/intro__content.css');
@import url('./__img/intro__img.css');
@import url('./__paragraph/intro__paragraph.css');
@import url('./__button/intro__button.css');
.intro {
    position: relative;
    z-index: 2;
    min-height: 35.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .intro {
        flex-direction: column;
    }
}